/*- Общие стили */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #e9e9e9;
}

a {
    color: #fff;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/* Шапка */
.header {
    display: flex;
    justify-content: center;
    background-color: #3f3f3f;
    height: 50px;

}

.header-nav {
    align-content: center;
}

.header-list {
    display: flex;
    gap: 30px;
}

img {
    margin: -30px auto 0;
}


ul.about-list {
    list-style: unset;
    padding-left: 40px;
}

/* Стили формы */
.form {
    background-color: #fff;
    justify-self: center;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.form input[type='text'],
input[type='email'] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #fff;
}

/* Стиль кнопки */
.button {
    padding: 15px;
    width: 120px;
    background-color: #3f3f3f;
    color: #FFF;
    border: 8px;
    border-radius: 5px;
    font-size: 15px;
}

/* Стили подвала */
.footer {
    display: flex;
    justify-content: center;
    background-color: #3f3f3f;
    color: #fff;
    margin-top: auto;
}