<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="funny-title">😄 Enter Your Details! 🦄</h1>
    <form action="/submit" method="POST" class="funny-form">
        <label for="name">Your Super Cool Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Your Awesome Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="colorPicker">Your Favorite Color:</label>
        <input type="color" id="colorPicker" value="#ffffff">
        <div class="color-preview" id="previewBox"></div>

        <script>
            const colorInput = document.getElementById('colorPicker');
            const previewBox = document.getElementById('previewBox');

            // При изменении цвета в input
            colorInput.addEventListener('input', function() {
            // Получаем текущий цвет из поля ввода
            const selectedColor = colorInput.value;
            // Устанавливаем этот цвет как фон для превью
            previewBox.style.backgroundColor = selectedColor;
            });

            // Инициализируем превью при загрузке страницы
            previewBox.style.backgroundColor = colorInput.value;
        </script>

        <label for="profession" class="my-label">Your Profession:</label>
        <select id="profession" name="profession">
            <option value="developer">Developer</option>
            <option value="designer">Designer</option>
            <option value="manager">Manager</option>
        </select>

        <div class="checkbox">
            <p>Your Hobbies:</p>
            <label class="custom-checkbox"><input type="checkbox" name="hobbies" value="books"> Books</label>
            <label class="custom-checkbox"><input type="checkbox" name="hobbies" value="sports"> Sports</label>
            <label class="custom-checkbox"><input type="checkbox" name="hobbies" value="games"> Games</label>
        </div>
        <div>
            <p>Your Level:</p>
            <input type="radio" class="radio" id="radio-1" name="level" value="beginner">
            <label for="radio-1">
                <span> Beginner</span>
            </label>
            <input type="radio" class="radio" id="radio-2" name="level" value="advanced">
            <label for="radio-2">
                <span> Advanced</span>
            </label>
        </div>

        <button type="submit" class="funny-button">🚀 Let's Go!</button>
    </form>

    <button onclick="showMessage()" class="press-me">Нажми меня</button>
    <div id="messageArea"></div>
    <script>
     function showMessage() {
        alert("ООО! Вы нажали не на ту кнопку😄");
     }
     </script>
</body>
</html>
